.shadow {
  padding: 5px;
}

.private {
  display: flex;
  justify-content: space-between;
}

.thump {
  background-color: aqua;
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.thumb-icon {
  font-size: 35px;
  padding-right: 8px;
  padding-bottom: 10px;
  color: white;
  cursor: pointer;
}

.card img {
  border-radius: 15px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  position: relative;
  padding-left: 20px; /* 控制圆点与文本的间距 */
  margin-bottom: 10px; /* 控制行间距，根据需要调整 */
}

li::before {
  content: "•"; /* 插入圆点 */
  color: green; /* 设置圆点的颜色 */
  font-size: 50px; /* 设置圆点的大小 */
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-54%);
  margin-right: 5px; /* 控制圆点与文本的间距 */
}

.imgbig {
  object-fit: cover;
  height: 60%;
}

.sign {
  background-color: white;
  position: absolute;
  z-index: 1;

  opacity: 0.7;
  border-radius: 10px;
  width: 75px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  top: 50%;
  left: 70%;
}

@media (max-width: 1400px) {
  .sign {
    background-color: white;
    position: absolute;
    z-index: 1;

    opacity: 0.7;
    border-radius: 10px;
    width: 75px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 40%;
    left: 60%;
    /* 在屏幕宽度小于等于1400px时的样式 */
  }
}

@media (max-width: 1200px) {
  .sign {
    background-color: white;
    position: absolute;
    z-index: 1;

    opacity: 0.7;
    border-radius: 10px;
    width: 75px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 35%;
    left: 60%;
    /* 在屏幕宽度小于等于1200px时的样式 */
  }
}

@media (max-width: 990px) {
  .sign {
    background-color: white;
    position: absolute;
    z-index: 1;

    opacity: 0.7;
    border-radius: 10px;
    width: 75px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    top: 45%;
    left: 45%;
    /* 在屏幕宽度小于等于990px时的样式 */
  }
}

.card {
  position: relative;
  z-index: 0;
  transition: background-color 0.5s ease, color 0.5s ease;
}

.icon-large {
  font-size: 30px;
  color: red;
}

.sign > p {
  padding-top: 15px;
  padding-left: 5px;
  font-weight: bolder;
}

nav {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 60px;
}
.tool {
  padding-right: 50px;
}

.darkmode {
  border-radius: 10px;
  width: 120px;
}

.dark-mode {
  background-color: rgb(36, 34, 34);
  color: white;
  transition: background-color 0.5s ease, color 0.5s ease;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark-mode .sign p {
  color: black;
}
