.shadow {
  padding: 5px;
}

.private {
  display: flex;
  justify-content: space-between;
}

.darkmode {
  margin-left: 90%;
  border-radius: 15px;
  border: none;
}

nav {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dark-mode {
  background-color: black;
}
